* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Virgo Display";
    src: url(../fonts/Virgo\ Display.ttf);
}

@font-face {
    font-family: "OldLondon";
    src: url(../fonts/OldLondon.ttf);
}

body {
    background-color: rgb(0, 0, 0);
    color: white;
    height: 100vh;
    width: 100%;
    position: absolute;
    align-items: center;
    border: solid 5px black;
}

.index {
    overflow: hidden;
    height: 100vh;
}

.tittle_oracle {
    width: 100%;
    height: 100px;
    text-align: center;
}

.spellcards_tittle {
    height: 150px;
}

.boxvideo_frame {
    width: 100%;
    padding: 65px;
}

video {
    width: 100%;
    height: 400px;
    align-items: center;
    padding: 20px;
}

.nav_oracle {
    text-align: center;
    align-items: center;
}

ul li {
    list-style: none;
}

a {
    color: #797979;
    font-family: "Virgo Display";
    font-size: 40px;
    padding: 65px;
    justify-content: center;
}

#play_button {
    color: #8772FF;
    background-color: black;
    font-family: "Virgo Display";
    font-size: 50px;
    border: 0;
    cursor: pointer;
}

.card {
    width: 80%;
    height: 600px;
    margin: 110px;
    border: solid #797979 5px;
    padding: 30px;
    align-items: center;
    overflow: hidden;
    overflow-y: scroll;
}

.card .header {
    width: 100%;
    height: auto;
}

.card .header h1 {
    color: #797979;
    font-family: "OldLondon";
    font-size: 80px;
    letter-spacing: 0.6px;
}

.card .content {
    padding: 30px;
}

.content p {
    color: #797979;
    font-family: "Virgo Display";
    font-size: 50px;    
    text-align: justify;
    letter-spacing: 0.6px;
    padding: 20px;
}

.spell_card{
    align-items: center;
    text-align: center;
}

.spell_card img {
    height: 800px;
    align-items: center;
}

.card_tittle {
    border: solid #797979 5px;
    padding: 25px;
    align-items: center;
    overflow: hidden;
    overflow-y: scroll;
}

.card_tittle .header h1 {
    color: #797979;
    font-family: "OldLondon";
    font-size: 80px;
    letter-spacing: 0.6px;
}

h1 {
    font-family: "OldLondon";
    font-size: 80px;
    color: #8772FF;
    padding: 10px;
}

p {
    font-family: "Virgo Display";
    font-size: 30px;
    letter-spacing: 0.6;
    padding: 5px;
    color: white;
}

.card_img {
    height: 750px;
    align-items: center;
    text-align: center;
}

#card-display {
    align-items: center;
    text-align: center;
    justify-content: center;
}

#nav_oracle_card {
    padding: 20px;
    color: #8772FF;
}

.play_button {
    color: #8772FF;
}

#loader {
    position: fixed;
    font-family: "Virgo Display";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    z-index: 1000; 
}
.dots {
    display: inline-block;
    font-size: 24px;
    animation: blink 2s infinite;
}

@keyframes blink {
    0%, 20% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}